.header {
  background: var(--gray-800);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 0;
}

.header img {
  height: 2rem;
}

.header h1 {
  margin: 0 0 0 1rem;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2.55rem;
}